body{
    background-color: #eae3e3;
    
    }


.navbar {


    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d9f315;
    color: #333;
    padding: 10px;
  }
  
  .navbar a {

    text-decoration: none;
    color: #1a1818;
  }



  .gallery {

    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .image {
    flex: 0 0 calc(33.33% - 10px);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .image img {
    max-width: 100%;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .footer-column {
    flex: 1;
    margin: 0 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    text-decoration: none;
    color: #fff;
  }